<?xml version="1.0" encoding="utf-8"?>
<search>
  <adSearchConnector>
    <ldapSettings useRoot="true" path="" pathFilter="" filter="(&amp;(objectClass=user)(objectCategory=person)(sn={0}*)(!(userAccountControl:1.2.840.113556.1.4.803:=2)))" maxResults="50"/>
    <accountProperty name="sAMAccountName" format="None" include="true"/>
    <firstnameProperty name="givenName" format="None" include="true"/>
    <surnameProperty name="sn" format="None" include="true"/>
    <roleProperty name="title" format="None" include="true"/>
    <departmentProperty name="department" format="None" include="true"/>
    <phoneNumberProperty name="telephoneNumber" format="None" include="true"/>
    <alternativeNumberProperty name="mobile" format="None" include="true"/>
    <faxNumberProperty name="facsimileTelephoneNumber" format="None" include="true"/>
    <emailProperty name="mail" format="Lowercase" include="true"/>
    <employeeIdProperty name="" format="None" include="false"/>
    <officeProperty name="physicalDeliveryOfficeName" format="None" include="true"/>
    <initialsProperty name="initials" format="None" include="true"/>
    <titleProperty name="personalTitle" format="None" include="true"/>
    <middleNameProperty name="middleName" format="None" include="true"/>
    <companyProperty name="company" format="None" include="true"/>
    <addressProperty name="streetAddress|l|st|postalCode" format="None" include="true"/>
    <countryProperty name="co" format="None" include="true"/>
  </adSearchConnector>

  <!-- the contact connector used when creating authors -->
  <authorConnectors>
    <connector id="AD" assembly="Iphelion.Outline.Controls.dll" typeName="Iphelion.Outline.Controls.Search.ActiveDirectoryContactSearch"/>
    <!--<connector id="WORKSITE" assembly="Iphelion.Outline.Integration.WorkSite.dll" typeName="Iphelion.Outline.Integration.WorkSite.WorkSiteUserSearch"/>-->
    <!--<connector id="OUTLOOK" assembly="Iphelion.Outline.Integration.Outlook.dll" typeName="Iphelion.Outline.Integration.Outlook.OutlookContactSearch" />-->
  </authorConnectors>

  <coiSystemConnectors>
    <connector id="DIRECTORYENTRY" assembly="Iphelion.Outline.Core.dll" typeName="Iphelion.Outline.Core.Connectors.DirectoryEntryContactSearchConnector"/>
  </coiSystemConnectors>

  <!-- The contact lookup connector used in the wizards (address controls)-->
  <wizardConnectors>
	<sqlConnector id="p4w" assembly="Iphelion.Outline.Controls.dll" typeName="Iphelion.Outline.Controls.Search.GenericSqlContactSearch" templateName="NameCompanyAndAddressTemplate"
                  name="p4w Search" connectionStringName="ContactSearchSqlConnector"
                  queryByIdFilename="ContactSqlConnectorQuery-ById.sql" queryByNameFilename="ContactSqlConnectorQuery-ByLastName.sql"
                  queryByMatterFilename="ContactSqlConnectorQuery-ByMatter.sql" title ="p4w Search" description ="Search by name or company" />
    <!--<connector id="IAREST" assembly="Iphelion.Outline.Integration.InterAction.dll" typeName="Iphelion.Outline.Integration.InterAction.InterActionRestContactSearch" />-->
    <!--<connector id="IACOM" assembly="Iphelion.Outline.Integration.InterAction.dll" typeName="Iphelion.Outline.Integration.InterAction.InterActionContactSearch"
               paramDefinitionTypeName="Iphelion.Outline.Integration.InterAction.InterActionContactSearchParameterDefinition" />-->
   <connector id="OUT2" name="Outlook Address Book" assembly="Iphelion.Outline.Integration.Outlook.dll" typeName="Iphelion.Outline.Integration.Outlook.OutlookAddressBookSearch" 
               paramDefinitionTypeName="Iphelion.Outline.Integration.Outlook.OutlookAddressBookSearchParameterDefinition" />
    <connector id="olAddressBook" name="Outlook Address Book" assembly="Iphelion.Outline.Integration.Outlook.dll" typeName="Iphelion.Outline.Integration.Outlook.OutlookAddressBookSearch" 
               paramDefinitionTypeName="Iphelion.Outline.Integration.Outlook.OutlookAddressBookSearchParameterDefinition" />
    <!--<connector id="ADERANT" assembly="Iphelion.Outline.Integration.Aderant.dll" typeName="Iphelion.Outline.Integration.Aderant.AderantContactSearch" templateName="NameCompanyAndAddressTemplate" />-->
    <connector id="ADConnector" assembly="Iphelion.Outline.Controls.dll" typeName="Iphelion.Outline.Controls.Search.ActiveDirectoryContactSearch" name="Staff Directory" />
    <!--<sqlConnector assembly="Iphelion.Outline.Controls.dll" typeName="Iphelion.Outline.Controls.Search.GenericSqlContactSearch" templateName="NameCompanyAndAddressTemplate"
                  name="Contact SQL Search" connectionStringName="ContactSearchSqlConnector"
                  queryByIdFilename="ContactSqlConnectorQuery-ById.sql" queryByNameFilename="ContactSqlConnectorQuery-ByLastName.sql"
                  title ="Contact SQL Search" description ="Search by last name"/>-->
  </wizardConnectors>

  <!-- The connector used to search client numbers-->
  <clientSearchConnectors>
    <!--<connector id="WORKSITE_2" assembly="Iphelion.Outline.Integration.WorkSite.dll" typeName="Iphelion.Outline.Integration.WorkSite.WorkSiteClientSearchConnector" />-->
  </clientSearchConnectors>

  <!-- The connector used to search matter numbers-->
  <matterSearchConnectors>
    <!--<connector id="WORKSITE_3" assembly="Iphelion.Outline.Integration.WorkSite.dll" typeName="Iphelion.Outline.Integration.WorkSite.WorkSiteMatterSearchConnector" />-->
  </matterSearchConnectors>
</search>