<?xml version="1.0" encoding="utf-8"?>
<netDocuments>
	<connection>
		<hostName value="eu.netdocuments.com" />
		<applicationId value="AP-40HJ3RTW" />
		<applicationSecret value="O0fh74betwCsnNnKOeYOUPYdv1DThb9EPTPudQIlLtaqGt80" />
		<apiVersion value="1" />
		<passAttributesForWorkspace value="True" />
		<passAttributesForCabinet value="False" />
		<alwaysShowDialogForWorkspace value="False" />
		<alwaysShowDialogForCabinet value="True" />
		<workspaceList value="recent" />
		<dialogType value="custom" />
		<forceFoldering value="False" />
		<showWorkspacesInTree value="True" />
		<showFiltersInTree value="True" />
		<titleMaxLength value="" />
		<titleInvalidChars value="" />
		<proxyType value="" />
		<proxyHost value="" />
	</connection>
	<attributes>
		<clientAttribute value="Client" />
		<matterAttribute value="Matter" />
		<docTypeAttribute value="Doc type|File type" />
		<docSubTypeAttribute value="Doc sub type" />
		<docSubType2Attribute value="" />
		<customLookupAttribute value="" />
		<authorAttribute value="Author" />
		<typistAttribute value="" />
	</attributes>
</netDocuments>