<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- SetAuthorOffice:  Switch to activate/deactivate the mechanism that changes office when a new author is selected -->
  <add key="SetAuthorOffice" value="true" />
  <!-- Number of recent searches that appear on the list in the contact search screen -->
  <add key="RecentSearchLimit" value="10" />
  <!-- TemplatesPath:  Define which template loaction to use  (can be a path, %APPDIR% for Outline install directory, %WGTEMPLATEDIR% for word workgroup templates directory -->
  <!--                 or %USERTEMPLATEDIR% for Word's user template directory -->
  <add key="TemplatesPath" value="%WGTEMPLATEDIR%" />
  <add key="TemplatesStartupPath" value="" />
  <!-- SaveToVariables: Activate the workround for worksite where CustomXML is stripped from document on save.  This saves info to  -->
  <!--                  Doc variables. -->
  <add key="SaveToVariables" value="false" />
  <!-- SkinFile: Specify a XAML Skin to apply to all Outline forms (for custom branding/styling) -->
  <add key="SkinFile" value="%PROGRAMDATA%\Themes\CustomTheme.xaml" />
  <!--Required to resolve WPF issue: https://support.microsoft.com/en-us/kb/2954125 -->
  <add key="UseSetWindowPosForTopmostWindows" value="True" />
  
  <add key="ImageListAllowedExtensions" value="jpg, jpeg, jpe, png, gif, bmp, tif, tiff, wmf, emf, svg" />
  <!-- ActivateOutlineTab:  Activate the Outline tab when Word start and when an Outline document is created/opened -->
  <add key="ActivateOutlineTab" value="true" />
  <!-- Format of the Author's display name. The fields you can use are (in brakets): Name, Initials and Login -->
  <add key="AuthorDisplayNameFormat" value="{Name}{Initials: ($VAL$)}" />
  <add key="PitchPointMatterUri" value="http://localhost:56586/WebForms/MatterInfo.aspx?id={UniqueCode}" />
  <add key="PitchPointBaseUri" value="http://localhost:56586" />
  <add key="pitchPoint:SingleSelectIgnoreParent" value="true" />
  
  <add key="ApiRestBaseUri" value="http://localhost:23152/InterActionAPI/"/>
  <add key="HMACKey" value="74a1939f-7514-49c5-b5ef-4d671ac040e4"/>
  <add key="APIPublicKeyForEncryption" value="&lt;RSAKeyValue&gt;&lt;Modulus&gt;zHQmLykx1MB3UVFEdLUtWGW0yXrKuIt2TlLjJoJTeqKrBE41+2XiXQ927g8pGuttapSLewx0srSfG8oH7GvqheE+ML0kDXHlRUiWZiO+AeTlYhrqTIDfLn8rcoqphFsOEKe8Law1gvueHato4DYecWnNfQ/piUb6Ep6tvp9WiNU=&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;"/>

  <!-- Word settings -->
  <!-- RibbonXmlFile:  Override the default ribbon with a custom ribbon file specified here -->
  <add key="RibbonXmlFile" value="%programdata%\BigHand\BigHand Document Creation\Config\CustomOutlineRibbon.xml" />
  <add key ="PowerPointRibbonXmlFile" value="%programdata%\BigHand\BigHand Document Creation\Config\CustomOutlinePowerPointRibbon.xml" />
  <add key ="ExcelRibbonXmlFile" value="%programdata%\BigHand\BigHand Document Creation\Config\CustomOutlineExcelRibbon.xml" />
  <!-- HelpURL:  The URL launched when the user clicks the help button on the ribbon -->
  <add key="HelpURL" value="http://www.iphelion.com" />
  <!-- EnableTrackChangesPrintOptions:   Shows or hides the printer options related to track changes in the smart print window -->
  <add key="EnableTrackChangesPrintOptions" value="true" />
  <!-- EnableWordPrint:   Enables the ability to launch the base word print dialog from the smart print screen -->
  <add key="EnableWordPrint" value="true" />
  <!-- Default DMS control name-->
  <add key="DmsControlName" value="DMS" />
  <!-- WorkSite Word integration version - allowed values Word2007 or Word2010 -->
  <add key="WorkSiteIntegration" value="Word2010" />
  <!-- Registry location for printer settings - allowed values CurrentUser or LocalMachine  -->
  <add key="PrinterSettingsLocation" value="CurrentUser" />
  <!-- Allowed values: StartUp, StartUpApi -->
  <add key="NewDocumentApiCommandType" value="StartUp" />
  <!-- Timeout when launching Word (milliseconds) -->
  <add key="SilentLaunchTimeout" value="45000" />
  <!-- Set to true shows the backstage print instead of the print dialog -->
  <add key="UseBackstagePrint" value="false" />
  <add key="print:AutoSelectOtherPagesTray" value="true" />
  <add key="print:AutomaticSave" value="false" />
  <add key="print:ResetCopies" value="true" />
  <add key="print:UseDefaultIfNoProfiles" value="true" />
  <!-- Set to true/false to force override - other values ignored -->
  <add key="print:OverrideMarkupValue" value="" />
  <add key="print:OverrideCommentsValue" value="" />
  <add key="Culture" value="" />
  <add key="UICulture" value="" />
  <add key="templatePicker:UsageTracker" value="" />
  <add key="templatePicker:ShowFavourites" value="true" />
  <add key="templatePicker:ShowRecent" value="true" />
  <add key="templatePicker:RecentCount" value="" />
  <add key="wizard:ShowPromptAbove" value="true" />
  <add key="docId:RunCallbackSync" value="" />

  <!-- PowerPoint settings -->
  <add key="PresentationPath" value="%programdata%\BigHand\BigHand Document Creation\Templates" />
  <add key="PresentationStartupPath" value="" />
  <add key="FileExtFilter" value="*.pot*" />

  <!-- Excel settings -->
  <add key="WorkbookPath" value="%programdata%\BigHand\BigHand Document Creation\Templates" />
  <add key="WorkbookFileExtFilter" value="*.xlt*" />

  <!-- Designer settings -->
  <add key="DesignerHelpURL" value="http://community.iphelion.com" />
  <add key="DefaultEvaluatorType" value="Expression" />

  <!-- Create from existing settings -->
  <add key="cfe:CopyDocumentProperties" value="false" />
  <add key="cfe:CopyCustomXml" value="false" />
</appSettings>